/* general styles */
body{
  background-color: #ffce0c22;
  height: 100vh;
  scroll-behavior: smooth;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.152);
}

a{
  text-decoration: none;
  color: #000000;
}


/* navbar starts ------------------------------------------*/

.navbar {
  z-index: 1000;
}

.logo h3{
  
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;

}

/* navbar ends */

/* hero starts --------------------------------------------*/

.hero{   
  
  height: 100vh;

}

.hero-container{
  height: 100%;
  background-image: linear-gradient(rgba(0, 208, 255, 0.092),rgba(1, 95, 162, 0.111),rgba(53, 177, 249, 0.116)),url(Resources/AIEASE_2025-03-05-16-45-42-694.jpeg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.hero-container h2{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  
  text-shadow: 1px 1px 1px black;
}

.hero-form input[type="text"]{
  border: none;
  height: 40px;
  width: 50%;
  border-radius: 5rem 0 0 5rem;
  outline: none;
}

.hero-form input[type="submit"]{
  border: none;
  height: 40px;
  width: 5rem;
  border-radius: 0 5rem 5rem 0;
  color: white;
  background-color: rgb(205, 50, 50);
}

.book-table{
  height:fit-content;
  width: 100%;
  
}

.book-table-blk{
   background-color: rgba(110, 146, 246, 0.148);
}

.book-table .col-lg-6{
  border: 1px solid rgba(255, 255, 255, 0.196);
  
}

.reservation-form input{
  width: 50%;
}

@media(max-width:500px){
  .reservation-form input{
    width: 90%;
  }
}

/* hero ends */

/* categories starts---------------------------------- */

.categories{
  height: 70vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media(max-width:992px){
  .categories{
    height: 150vh;
  }
}
.categories .container{
  height: 100%;
}

.categories .container .row-1{

  font-optical-sizing: auto;
  font-style: normal;
}

.categories .container .row-2{
  height: 65%;
}

.categories .container .row-2 .item-1 section{
  background: linear-gradient(rgba(0, 208, 255, 0.092),rgba(1, 95, 162, 0.111),rgba(53, 177, 249, 0.116)),url(Resources/burger.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  
}

.categories .container .row-2 .item-1 section h4{ 
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
 }

 .categories .container .row-2 .item-2 section h4{ 
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
 }

 .categories .container .row-2 .item-3 section h4{ 
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
 }

.categories .container .row-2 .item-2 section{
  background: linear-gradient(rgba(0, 208, 255, 0.092),rgba(1, 95, 162, 0.111),rgba(53, 177, 249, 0.116)), url(Resources/pizza.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.categories .container .row-2 .item-3 section{
  background: linear-gradient(rgba(0, 208, 255, 0.092),rgba(1, 95, 162, 0.111),rgba(53, 177, 249, 0.116)), url(Resources/momo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.categories .container .row-2 .item-1 section:hover {
  transform: scale3d(1.05, 1.05, 1.01); 
}

.categories .container .row-2 .item-2 section:hover {
  transform: scale3d(1.05, 1.05, 1.01);
}

.categories .container .row-2 .item-3 section:hover {
  transform: scale3d(1.05, 1.05, 1.01); 
}


/* categories ends---------------------------------- */


/* explore-food starts------------------------------ */

.explore-food{
  /* background-color: aqua; */
  height: fit-content;
  overflow-x: hidden;
  background-color: #ed4c671d;
}


.explore-food .container{
  /* background-color: brown; */
  height: 100%;
}

.explore-food .container .row-1{

  height: 15%;


  font-optical-sizing: auto;
  font-style: normal;
  /* background-color: yellow; */
    
}

.explore-food .container .row-2{ 
    height: 85%;
  
    /* background-color: tomato; */
 }

 .row-2 .col-lg-6 section{
  /* background-color: #a7781228; */
  border-radius: 1rem;
  margin: 2% 0;
  border: 1px solid rgba(0, 0, 0, 0.083);
 }

 .row-2 .col-lg-6 section:hover{
  transform: scale3d(1.02,1.02,1.1);
 }

 /* .food-menu-section{
  border: 1px solid rgba(0, 0, 0, 0.193);
 } */

 .food-menu-img{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

 }

 .food-menu-img img{
  height: 50%;
  width: 80%;
 }
 
 .food-menu-desc button{
  width: 7rem;
 }


/* explore-food ends-------------------------------- */


/* customer-comments starts-------------------------*/

.client{
  height: 70vh;
}

@media(max-width:767px){
  .client{
    height: fit-content;
  }
}

.customer-comments{

  font-optical-sizing: auto;
  font-style: normal;

}



.client .container .row-2 .col-md-4 section{
  background-color: rgb(255, 255, 255);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}


.client .container .row-2 .col-md-4 section img{
  height: 10rem
}






/* customer-comments ends---------------------------*/


/* footer starts-------------------------------------------- */
.footer {

  height: 80vh;
  overflow-x: hidden;

}

@media(max-width:500px){
  .footer{
    height: fit-content;
    font-size: 10px;
  }

  .follow img{
    height: 2rem;

  }

  .footer-content{
    flex-direction: row
    !important;

    justify-content: space-between;
    

    gap: 15px;
  }

  
}

/* .footer .row-2 .col-md-3{
  border: 1px solid rgb(255, 255, 255);
} */

/* footer ends----------------------------------------------- */